{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
    <section>
        <div class="container">
            <div class="text-center">
                <h1>LogIn</h1>

                <br>

                <p class="lead">Enter into your DreamLancer Account</p>
            </div>
        </div>
    </section>


    <!-- CONTACT -->
    <section id="contact">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-sm-12">
                    <form id="contact-form" role="form" action="" method="POST">
                        {% csrf_token %}
                        <div class="col-md-12 col-sm-12">
                            {{ form|crispy }}
                        </div>

                        <div class="col-md-4 col-sm-12">
                            <input type="submit" class="form-control" name="send message" value="SignUp">
                        </div>

                        <small class="text-muted ml-2">
                            <a href="{% url 'password_reset' %}">Forgot Password?</a>
                        </small>

                    </form>
                    <div class="col-md-4 col-sm-12">
                        <small class="text-muted">
                            Need An Account? <a class="ml-2" href="{% url 'register' %}">Sign In</a>
                        </small>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12">
                    <div class="contact-image">
                        <img src="images/contact-1-600x400.jpg" class="img-responsive" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>

{% endblock content %}